<!DOCTYPE html>
<html>
    <head>
        <title>SearchEngine</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/x-icon">
    </head>
    <body>
        <a href={{ url_for('start') }} id="AppsName"><h1>uniSearcher</h1></a>
        <h2>Your search results for the query: " {{ rev }} "</h2>
        
        <form id="CenterdForm" action='search' method='get'>
            <input type="text" name='rev' placeholder= "{{ rev }}" >
            <input type="submit" value="Send">
        </form>

        <ul>
            {% for item in result %}
                <li>
                    <a href={{ item }}><h3>Search Result {{ loop.index }}</h3></a>
                    <div>{{ item }}</div>
                </li>
            {% endfor %}
        </ul>

    </body>
</html>




